* {
  font-family: Microsoft JhengHei;
}

hr {
    border: 0;
    box-shadow: 0 0 5px 0.5px black;
}

body {
    background-image: linear-gradient(to right, #bbdcdd, #b5d4df);
}

.header {
    width: 97.5%; height: 200px;
    background-image: linear-gradient(to bottom, #1c647e, #aebfc5);
    color: #fff;
    margin-top: 1.25%;
    margin-left: 1.25%;
    font-size: 100px;
}

.title {
    position: relative; top: 35%;
    font-size: 5rem;
    text-align:center;
}

.body {
    margin-left: 1.25%;
    margin-top: 1.25%;
}

.list {
    width: 25%;
    font-size: 24px;
}

.page-list {
    margin-bottom: 15px;
    background: -webkit-radial-gradient(ellipse, #bde5e5, #72bdbf);
    background: -o-radial-gradient(circle, #bde5e5, #72bdbf);
    background: -moz-radial-gradient(circle, #bde5e5, #72bdbf);
    background: radial-gradient(ellipse, #bde5e5, #72bdbf);
}

.list-title {
    position: relative; top: 20px;
    text-align:center;
}

.menu {
    position: relative; top: 25px; left: 35px;
}

.resume {
    margin-bottom: 1.25%;
    position: relative; left: -12.5px;
    height: 1300px; width: 72.5%;
    background-color: #ffffff;
}
